# WIX Configuration
NEXT_PUBLIC_WIX_CLIENT_ID=a50c7850-dcd6-4184-b9ad-957b5f2f239c
NEXT_PUBLIC_WIX_SITE_ID=9b8ae25f-875a-4476-8700-919aa1191a37

# Production URLs (update these for your domain)
NEXT_PUBLIC_SITE_URL=https://standupsydney.wixstudio.com/stand-up-sydney
